body {
	margin: 0;
	padding: 0;
	background-color: #edeff3;
}

/* header style */

.header-container {
	display: flex;
	justify-content: space-between;
	background-color: #001628;
	align-items: center;
	padding: 15px;
}

header div a {
	background-color: #feab4f;
	color: aliceblue;
	text-decoration: none;
	padding: 10px 15px;
	margin-left: 10px;
	border-radius: 5px;
	font-size: 20px
}

/* login style  */

.container {
	max-width: 400px;
	margin: 100px auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container ul {
	list-style: none;
	color: red;
}

.container a {
	text-align: center;
	display: inherit;
}

.form-group {
	margin-bottom: 20px;
}

.form-group label {
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
}

.form-group input {
	width: 95%;
	padding: 10px;
	border-radius: 3px;
	border: 1px solid #ccc;
}

.btn {
	text-align: center;
}

.form-group input[type="submit"] {
	background-color: #1a7bff;
	color: #fff;
	cursor: pointer;
}

.form-group input[type="submit"]:hover {
	background-color: #1a7bff;
}

/*Register style*/

.register-container {
	max-width: 400px;
	margin: 5px auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-container ul {
	list-style: none;
	color: red;
}

.register-form-group {
	margin-bottom: 20px;
}

.register-form-group label {
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
}

.register-form-group input,
.register-form-group select {
	width: 95%;
	padding: 10px;
	border-radius: 3px;
	border: 1px solid #ccc;
}

.register-form-group input[type="submit"] {
	background-color: #1a7bff;
	color: #fff;
	cursor: pointer;
}

.register-form-group input[type="submit"]:hover {
	background-color: #1a7bff;
}


/* dashboard style */
.file-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.file-container img,
.personal-photo {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	object-fit: cover;
}

.dashboard-container {
	width: auto;
	margin: 80px 50px;
	background-color: white;
	border-radius: 27px;
}

.user-details {
	text-align: center;
	margin-bottom: 125px;
	padding-top: 20px;
}


.dashbaord-links-container {
	text-align: center;
	margin-bottom: 75px;
	height: 115px;
}

.dashbaord-links-container a {
	background-color: #1a7bff;
	color: aliceblue;
	text-decoration: none;
	padding: 10px 15px;
	margin-left: 10px;
	border-radius: 5px;
	font-size: 20px
}

/* profile style */


.profile-container,
.student-details-container {
	max-width: 400px;
	margin: 5px auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.profile-container ul {
	list-style: none;
	color: red;
}


.profile-form-group,
.student-details-form-group {
	margin-bottom: 20px;
}


.profile-form-group input,
.student-details-form-group input,
.profile-form-group textarea {
	padding: 10px;
	border-radius: 3px;
	border: 2px solid #ccc;
}

.profile-form-group input[type="submit"] {
	background-color: #1a7bff;
	color: #fff;
	cursor: pointer;
}

.profile-form-group input[type="submit"]:hover {
	background-color: #1a7bff;
}


.back-btn-container {
	margin: 0 auto;
	width: 800px;
}

.back-btn {
	background-color: #ffa947;
	color: white;
	padding: 2px 20px;
	border-radius: 7px;
	border: 2px solid #ccc;
	text-decoration: none;
	font-size: 18px;
}

/* view all classes style */

.all-classes-container,
.all-courses-container,
.all-students-container,
.class-students-container,
.course-students-container {
	max-width: 800px;
	margin: 100px auto 20px auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.all-classes-container ul,
.all-courses-container ul,
.class-students-container ul,
.course-students-container ul {
	list-style: none;
	color: red;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

th,
td {
	padding: 10px;
	text-align: left;
}

th {
	background-color: #f2f2f2;
	font-weight: bold;
}

td a,
.all-classes-container form button,
.all-courses-container form button,
.class-students-container form button,
.course-students-container form button {
	background-color: #1a7bff;
	text-decoration: none;
	color: #fff;
	border: none;
	padding: 5px 10px;
	border-radius: 3px;
	cursor: pointer;
}

td a:hover {
	background-color: #1a7bff;
	text-decoration: none;
}


/* pagination style */

.pagination-container {
	text-align: center;
	margin: 30px;
}

.pagination {
	margin: 5px;
	text-align: center;
}

.pagination a {
	color: #ffa947;
	padding: 8px 16px;
	text-decoration: none;
	border: 1px solid #ddd;
	margin: 0 4px;
	border-radius: 3px;
}

.pagination a.active {
	background-color: #ffa947;
	color: #fff;
}


/* footer style */

footer div {
	text-align: center;
	background-color: #001628;
	color: aliceblue;
	padding: 0%;
	font-size: 20px
}

footer div p {
	margin: 0;
	display: inline-block;
	padding: 20px;
}

footer div a {
	display: inline-block;
	padding: 20px;
	text-decoration: none;
}