<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/assets/css/styles.css">
	<title>Student Details Page</title>
</head>

<body>
	<div th:replace="~{common/header :: header}"></div>
	<div class="student-details-container">

		<h2 th:text="${student.name}+' Details'"></h2>

		<form th:object="${student}">
			<div class="student-details-form-group">
				<input type="text" th:field="*{name}" name="name" placeholder="user name" readonly>
				<input type="text" th:field="*{mobileNumber}" id="mobileNumber" placeholder="mobile number" readonly>
			</div>

			<div class="student-details-form-group">
				<input type="email" th:field="*{email}" id="email" placeholder="email" readonly>
				<input type="text" th:field="*{studyClass.name}" id="studyClass" placeholder="Class" readonly>
			</div>

			<div class="student-details-form-group">
				<input type="text" th:field="*{address.address1}" id="address1" placeholder="Address1" readonly>
				<input type="text" th:field="*{address.address2}" id="address2" placeholder="Address2" readonly>
			</div>

			<div class="student-details-form-group">
				<input type="text" th:field="*{address.city}" id="city" placeholder="City" readonly>
				<input type="text" th:field="*{address.status}" id="status" placeholder="Status" readonly>
			</div>
			<div class="student-details-form-group">
				<input type="text" th:field="*{address.zipCode}" id="zipcode" placeholder="Zip Code" readonly>
			</div>
			<div th:if="${student.role.name.equals('STUDENT')}"  class="student-details-form-group">
				<select id="class">
					<option th:each="course: ${student.courses}" th:text="${course.name}"></option>
				</select>
			</div>
		</form>

		<div class="back-btn-container">
			<button class="back-btn">
				<a th:href="@{/admin/viewAllStudents/1?sortBy=name&sortDir=asc}">
					Back
				</a>
			</button>
		</div>

	</div>
	<div th:replace="~{common/footer :: footer}"></div>
</body>

</html>